body{
    background-color: #f1f0f0;
}

.navbar-brand{
    color: green;
}

.card{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    gap: 30px;
    border: none;
    margin-top: 15px;
}

.card1, .card2, .card3 {
    border: 1px solid black;
}